:root {
	--text: #e2e2e2;
	--background: rgb(0, 0, 15);
	--primary: #8e7ab5;
	--secondary: #010013;
	--accent: rgb(86, 86, 186);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	color: var(--text);
	scroll-behavior: smooth;
}

body {
	height: 500vh;
	background: var(--background);
	
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 4.5rem;
	background: var(--secondary);
	position: fixed;
	top: 0;
	padding: 0 10px;
	z-index: 2;
	transition: background-color linear;
}

@keyframes text-in {
	from {
			opacity: 0;
	}
	to {
			opacity: 1;
	}
}

@keyframes back-color {
	0%, 60% {
			opacity: 0;
	}
	100% {
			background-color: var(--secondary);
			opacity: 1;
	}
}

.name {
	font-size: 1.5rem;
	font-weight: 600;
}

.routes {
	list-style-type: none;
	display: flex;
	width: 60%;
	justify-content: end;
	transition: all .5s;
}

.routes li {
	display: flex;
	margin-right: 2vw;
	align-items: center;
	height: 100%;
	transition: all .5s;
}
.routes li:hover a{
	background-color: var(--text);
	color: var(--secondary);
}
.routes > li > a {
	text-decoration: none;
	color: var(--text);
	font-size: 16px;
	text-align: center;
	font-weight: 550;
	padding: 4px;
	height: 100%;
}

.routes > li:hover {
	transform: scale(1.2);
}
.hamburger-container {
	transition: all .5s linear;
}
.hamburger {
	width: 30px;
	text-align: center;
}

#hamburger, .hamburger-menu, .hamburger {
	display: none;
}

.icon-x {
	display: none;
}

#hamburger:checked ~ .hamburger-menu {
	display: flex;
}

#hamburger:checked + .hamburger .icon-bars {
	display: none;
}

#hamburger:checked + .hamburger .icon-x {
	display: inline;
}

.hamburger-menu {
	position: absolute;
	background: #000;
	width: 100%;
	height: 100vh;
	top: 60px;
	right: 0;
	left: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 5rem;
}

.main {
	background-image: url('Untitled design (1).png');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-origin: center;
	mask-image: url(ink_lv2.gif);
	mask-size: cover;
	mask-position: center;
	animation: fade-out 1s;
	animation-timeline: scroll();
}

@keyframes fade-out {
	to {
			opacity: 0;
	}
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	animation: fade-out ease-in;
	animation-timeline: scroll(y);
}

.hero h1 {
	animation: out-mate linear scroll(y);
	text-align: center;
}

h1 {
	font-size: 4vw;
}

p {
	font-size: 2.5vw;
}

.hero p {
	font-size: 2vw;
	text-align: center;
	animation: out-mate linear scroll(y);
}

@keyframes out-mate {
	to {
			transform: translate(-1000px, 0);
	}
}

@media (max-width: 768px) {
	.routes {
			display: none;
	}

	.hamburger {
			display: block;
	}

	.hero p {
			font-size: 16px;
	}

	.hero h1 {
			font-size: 32px;
	}

	.navbar {
			justify-content: space-between;
	}
}

.cta-button {
	margin-top: 10px;
	text-decoration: none;
	background-color: var(--text);
	color: var(--background);
	padding: 12px;
	font-weight: 550;
	border-radius: 8px;
	transition: all 0.2s ease-in-out;
}

.cta-button:hover {
	background-color: var(--accent);
	color: #e2e2e2;
	transform: scale(1.1);
}
.arrow {
	display: none;
}

section {
	width: 100%;
	height: 100vh;
}

footer {
	width: 100%;
	height: 16rem;
	background: var(--accent);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100%;
}

.full-width-card {
	width: 100%;
	position: relative;
	background: var(--secondary);
	border-radius: 10px;
	margin: 20px 0;
	overflow: hidden;
}

.full-width-card img {
	width: 100%;
	height: auto;
}

.card-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--text);
	text-align: center;
	padding: 20px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

.card {
	width: 45%;
	height: 45vh;
	background: var(--secondary);
	margin: 10px;
	border-radius: 10px;
	padding: 20px;
	transition: transform 0.3s;
}

.card:hover {
	transform: scale(1.05);
}

.card h2 {
	margin-bottom: 10px;
}

.card p {
	font-size: 1.2rem;
}

@media (max-width: 768px) {
	.card {
			width: 100%;
			height: auto;
	}
}
